@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?dw6wum");
  src: url("fonts/icomoon.eot?dw6wum#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?dw6wum") format("truetype"),
    url("fonts/icomoon.woff?dw6wum") format("woff"), url("fonts/icomoon.svg?dw6wum#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-earth-icon:before {
  content: "\e900";
  color: #858b95;
}
.i-facebook-icon:before {
  content: "\e901";
  color: #fff;
}
.i-github-icon:before {
  content: "\e902";
  color: #fff;
}
.i-inbox-icon:before {
  content: "\e903";
  color: #53595f;
}
.i-menu-icon:before {
  content: "\e904";
  color: #636b72;
}
.i-msg-icon:before {
  content: "\e905";
  color: #52595f;
}
.i-pencil-icon:before {
  content: "\e906";
}
.i-prize-icon:before {
  content: "\e907";
  color: #0a95ff;
}
.i-ques-icon:before {
  content: "\e908";
  color: #54595f;
}
.i-speech2-icon:before {
  content: "\e909";
  color: #6da7d5;
}
.i-speech-icon:before {
  content: "\e90a";
  color: #0a95ff;
}
.i-stack-gray-icon:before {
  content: "\e90b";
  color: #53575c;
}
.i-tags-icon:before {
  content: "\e90c";
  color: #0a95ff;
}
.i-trophy-icon:before {
  content: "\e90d";
  color: #535a5f;
}
.i-updown-icon:before {
  content: "\e90e";
  color: #0a95ff;
}
.i-up-icon:before {
  content: "\e90f";
  color: #6b747d;
}
.i-vote-down-icon:before {
  content: "\e910";
  color: #babfc4;
}
.i-vote-up-icon:before {
  content: "\e911";
  color: #babfc4;
}
.i-x-icon:before {
  content: "\e912";
  color: #636b72;
}
